

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 150px 100px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    /* flex: 1 1 auto; */
    justify-content: space-between;
    margin-top: 100px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left {
    max-width: 50%;
   
}



.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.subtext, li {
    font-size: 18px;
    color: #E5E7EB;

}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    gap: 33px;
}

.card {
    width: 150px;
    
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin: 150px auto 150px auto;
    /* padding-left: auto; */
    /* width: 699px; */
}

.quoteText {
    padding: 90px 250px;
}

img {
    display: block;
    margin: auto;
    border-radius: 8px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

button {
    border-radius: 8px;
    padding: 4px 18px;
    background-color: #3882F6;
    color: #F9FAF8;
}